.brand{
    padding: 15px 15px 33px 15px;
    box-shadow: 0 0 20px 5px rgba(0, 0, 0, 0.2);
    border-radius: 20px;   
}
.brand img{
    border-radius: 20px;
}
.card-description{
    text-align: justify;
    margin: 30px 20px;
}